@charset "utf=8";
        body{
            background-color: #008080;
        }
        
        .formulario{
            display: flex;
            justify-content: center;
        }
        form{
            background-color: white;
            max-width: 500px;
            width: 70%;
            padding: 20px;
            left: 50%;
            top: 80%;
            color: #ec7e01;
        }

        form h3{
            text-align: center;
            color: #ec7e01;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        
        form input[type=text],
        form input[type=password]{
            width: 100%;
            height: 45px;
            border: 1px solid #ccc;
            padding-left: 10px;
            margin: 10px 0;
        }

        form input[type=submit]{
            
            width: 150px;
            height: 30px;
            cursor: pointer;
            background: grey;
            color: white;
            border: 0;
            border-radius: 20px;
            transition: 1s;
        }

        form input[type=submit]:hover{
            background-color: black;
        }

        form input[type=reset]{
            width: 150px;
            height: 30px;
            cursor: pointer;
            background: grey;
            color: white;
            border: 0;
            border-radius: 20px;
            transition: 1s;
        }
        form input[type=reset]:hover{
            background-color: #4A5F6A;
        }

        


        form input[type=text]:focus{
            outline: 0;
        }
        form input[type=password]:focus{
            outline: 0;
        }

        .sex[type=radio]:focus{
            outline: 0;
        }
        
        .sex{
            background-color: #fff;
            border: 1px solid #ccd0d5;
            box-sizing: border-box;
            display: inline-block;
            flex: 1 0 auto;
            font-weight: normal;
            height: 36px;
            margin: 8px 6px 6px;
            padding: 0;
            position: relative;
            width: auto;
        }
        .sex1{
            box-sizing: border-box;
            color: #1c1e21;
            display: inline-block;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            line-height: 36px;
            padding: 0 28px 0 10px;
            width: 100%;
        }
        .sex2 {
        height: 36px;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 0;
    }

        .Imagesao {
            text-align: center;
        }
        .Imagesao.img {
            text-align: center;
        }